<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>$title$ - $chapter$</title>
	<meta name="description" content="">

	<link rel="shortcut icon" href="https://www.emfink.net/akademicky/assets/img/favicon.ico">

	<link rel="stylesheet" type="text/css" href="../tufte.css" >
	
	<link rel="stylesheet" href="https://use.typekit.net/viv2jun.css">

</head>


<body class="sidenotes">

<header class="site-header">

<div class="site-title">
<span class="site-title">$title$</span>
</div>


</header>


<div class="chapter">
<h1 class="chapter">$chapter$</h1>
</div>

<div class="article">
$body$
</div>



</body>

</html>

